<head>
    <title>Authentication System</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
<body>
 
    <div class="container">
        <div class="jumbotron">
<h1>User Login</h1>
		<tr>
			<form action = "{{url_for('login.i_route')}}" method="post" name="login">
				<table>
					<tr>
						<td><p>Username: </p></td>
						<td><p><input id="login_username_input" type=text name=username></td>
					</tr>
					<tr>
						<td><p>Password: </p></td>
						<td><p><input id="login_password_input" type=password name=password></td>
					</tr>
						
				</table>
				<p><a class="btn btn-lg btn-success" input type=submit role="button" value=Register>Log In</a>
            </p>
			</form>
		</tr>
	</div>
</div>
	 