<head>
    <title>Authentication System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> 
</head>
<body>
 
    <div class="container">
<div class="jumbotron">
        <form action="{{url_for('login.register_route')}}" method="POST">
        	<input type="username" name="username" class="form-control" id="username" placeholder="Username">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
         </div>
         </div>
    </body>